body {
    font-family: Arial, sans-serif;
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropbtn:hover {
    background-color: #2980b9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}
.background{
    display: flex;
    background-color: red;

}
.trangchu{
    background-color: #3498db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border:none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.menu{

}
.img {
    margin-right: 180px;

}
.blog{
    background-color: #3498db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; 
}
.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    flex-grow: 1;
    font-size: 16px;
}

.search-button {
    border: none;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #2980b9;
}